<li class="card-wrapper" [class.root-card]="hasChildren" #treeNode>
  <div class="card" [class.child-card]="!data?.root && !hasChildren">
    <div class="card-content">
      <div class="left">
        <div class="indicator-bar"></div>
        <img
          src="https://randomuser.me/api/portraits/women/34.jpg"
          class="avatar"
        />

        <div class="details">
          <span class="protocol">#{{ data?.id }}</span>
          <span class="title">Alteração de endereço</span>
        </div>
      </div>
      <div class="right">
        <span class="tag">Finalizado</span>
        <span class="date">10 Jan 2020</span>
      </div>

      <button (click)="collapseTree()">V</button>
    </div>
  </div>

  <div @collapse *ngIf="hasChildren && !data.collapsed">
    <app-tree [data]="data?.children" style="margin-top: 10px"></app-tree>
  </div>
</li>
